<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <application
        android:name=".SmoothRadioApplication"
        android:allowBackup="true"
        android:icon="@drawable/smoothradioapplogored"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/mbaitufm_network_security_config"
        android:theme="@style/Theme.SmoothRadio"
        android:usesCleartextTraffic="true">

        <profileable
            android:shell="true"
            tools:targetApi="29" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9799428944156340~4280590748" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name="com.smoothradio.radio.service.StreamService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <activity
            android:name="com.smoothradio.radio.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>