<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smoothradio.radio">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />


    <application>
        <activity
            android:name=".HiltTestActivity"
            android:exported="false"
            android:theme="@style/Theme.SmoothRadio"/>

        <service android:name=".service.StreamService"
            android:foregroundServiceType="mediaPlayback"/>

    </application>

</manifest>
